
.name{
    margin-left: 350px;
font-size: 1.3rem;
margin-top: 18px;
}
.log{
    margin-left: 50px;
    margin-bottom: -20px;
   
}
.ico{
    font-size: 1.5rem;
}
.log_out{
    margin-left: 1455px;
    margin-top: -25px;
    margin-bottom: 10px;
 
}
.log_out a{
    text-decoration: none;
color: BLACK;
   
}
.icon{
   font-size: 1.5rem;
   color: white;
}

.log{
margin-left: 1420px;
margin-top: -20px;



}


.admin{
    margin-top: -25px;
    margin-left: 35px;
    color: white;
}
.section{
    width: 365px;
   position: fixed;
    left: 0;
    top: 0;
     height: 100%;
       
}
.div{
 border-bottom: 2px solid black;
margin-top: -15px;
background-color: rgb(214, 72, 72);
border-top: 2px solid black;
color: black;
margin-right: -8px;
 
 

}
/* .form{ */
   /* height: 100%;
    flex-direction: column;
    width: 20vh;
    font-size: 1.2rem;
    border: 2px;
    border-radius: 2px;
  color: black;
 align-items: self-start;
 background-color: rgb(59, 59, 59);

 padding: 2rem 2rem 2rem 2rem; */
/* } */
.add{
    margin-top: -20px;
}
.main{
    margin-top: 100px;
    justify-content: space-between;
    flex-direction: column;
    color: white;


}
.hom{
    margin-bottom: 35px;
}
.hom a{
    text-decoration: none;
    color: white;
}
.student{
    margin-bottom: 35px;
}
.student a{
    text-decoration: none;
    color: white;
}
 .course{
    margin-bottom: 35px;
 }
 .course a {
    text-decoration: none;
    color: white;
 }
 .top{
    margin-bottom: 35px;
 }
 .top a {
    text-decoration: none;
    color: white;
 }
 .result{
    margin-bottom: 35px;
 }
 .result a {
    text-decoration: none;
    color: white;
   
 }
 .feedback{
    margin-bottom: 35px;
 }
 .feedback a{
    text-decoration: none;
    color: white;
 }
 .contect a{
text-decoration: none;
color: white;
 }



 .student_table h1{
    text-align: center;
   
 }

 .course_table h1{
    text-align: center;
 }

.feedback_table h1{
    text-align: center;
}
